@import "normalize.scss";
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold.eot');
	src: local('☺'), url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.ttf') format('truetype'), url('../fonts/Montserrat-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.eot');
	src: local('☺'), url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf') format('truetype'), url('../fonts/Montserrat-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

html,
body {
    font-family: 'Montserrat';
    background-color: #F4F4F6;
	font-weight: 400;
	width: 100%;
}
fieldset {
	border: 0;
	padding: 0;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.container {
    margin: 0 auto;
    max-width: 1120px;
}
header {
	background: #FFFFFF;
}
//header
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 78px;
}
// .header__logo

.header__logo {
}

// .header__content

.header__content {
	display: flex;
	justify-content: space-between;
}

// .header__phone

.header__phone {
	text-decoration: none;
	align-self: center;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	margin-right: 35px;
	position: relative;
	&::after {
		position: absolute;
		top: 0;
		left: -30px;
		content: '';
		width: 20px;
		height: 20px;
		display: block;
		background: url(/images/icon/phone.svg);
	}
}

// .header__btns

.header__btns {
	display: flex;
}

// .header__btn

.header__btn {
	width: 176px;
}
.header__btn-personal {
	padding: 14px 14px 14px 44px;
	position: relative;
	&::after {
		position: absolute;
		top: 16px;
		left: 16px;
		content: '';
		width: 14px;
		height: 14px;
		background: url(/images/icon/person.svg);
	}
}

.btn {
	font-weight: 600;
	font-size: 13px;
	line-height: 16px;
	text-align: center;
	color: #FFFFFF;
	background: #098FCF;
	height: 46px;
	border: 0;
	cursor: pointer;
	&:hover {
		opacity: 0.8;
	}
}
nav {
	background: #F9F9F9;
}
.nav {
	height: 60px;
	display: flex;
	align-items: center;
}
	// .nav__list

.nav__list {
	list-style: none;
	display: flex;
	padding: 0;
}

// .nav__list-item

.nav__list-item {
	margin-right: 40px;
	display: flex;
	align-items: center;
	&:last-child {
		margin-right: 0;
	}
}

// .nav__link

.nav__link {
	font-weight: 600;
	font-size: 15px;
	line-height: 18px;
	color: #000000;
	text-decoration: none;
	display: flex;
}

.nav__link-arrow {
	background: url(/images/icon/arrow.svg);
	width: 20px;
	height: 20px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position:  center center;
}

.main__title {
	font-weight: 700;
	font-size: 48px;
	line-height: 59px;
	color: #000000;
	padding: 90px 0 48px;
	text-align:left;
}

.fast-order {
	box-sizing: border-box;
	box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
	padding: 20px 192px 43px 96px;
	margin-bottom: 100px;
}
	// .fast-order__form

.fast-order__form {
	display: flex;
	align-items: flex-end;
	margin-bottom: 30px;
}

// .fast-order__btn

.fast-order__btn {
	width: 258px;
}

.fast-order__input {
	width: 273px;
	box-sizing: border-box;
	margin-right: 10px;
	border: 1px solid #D5D5D5;
}

.fast-order__title {
	font-weight: 700;
	font-size: 36px;
	line-height: 44px;
	color: #000000;
	& span {
		color:rgba(9, 143, 207, 1);
	}
}

.fast-order__input-title {
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	margin-bottom: 7px;
}
.input {
	padding: 12px 0 13px 15px;
}

// .fast-order__checkbox-label

.fast-order__checkbox-label {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	justify-content: flex-end;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
}

// .fast-order__checkbox-input

.fast-order__checkbox-input {
	visibility: hidden;
	clip: rect(0 0 0 0);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.fast-order__checkbox-span {
	position: relative;
	margin-right: 13px;
	&::before {
		content: "";
		display: block;
		width: 24px;
		height: 24px;
		background: #F9F9F9;
		border: 1px solid #D5D5D5;
	}
	&::after {
		position: absolute;
		top: 3px;
		left: 3px;
		display: none;
		content: "";
		width: 24px;
		height: 24px;
		background: url(/images/icon/check.svg);
		background-repeat: no-repeat;
	}
}
.fast-order__checkbox-input:checked + .fast-order__checkbox-span::after {
	display: block;
}
.cost-oil__title {
	font-weight: 700;
	font-size: 36px;
	line-height: 44px;
	margin-bottom: 48px;
}
.cost-oil__table-head {
	background: #043C77;
	color: #ffffff;
	height: 64px;
	border-bottom: 20px solid #F4F4F6;
}
.cost-oil__table {
	font-weight: 600;
	font-size: 13px;
	line-height: 16px;
	border-collapse: collapse;
	width: 100%;
	text-align: left;
}
.cost-oil__table-body {
	height: 260px;
	border-bottom: 20px solid #F4F4F6;
}
.cost-oil__table-footer {
	height: 382px;
}
.cost-oil__table-body-type {
	background: #098FCF;
	color: #ffffff;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
}
.cost-oil__table-footer-type {
	background: #098FCF;
	color: #ffffff;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
}
th, td {
	padding-left: 20px;
	padding-top: 16px;
	vertical-align: top;
}
tr,td {
	border: 1px solid #E7E7E7;
}